%section.name
  %h1 Ryan L. Cross

%section.meta
  %img{ src: 'images/ryan.png' }

  %div.social
    %a.ss-icon.ss-social-circle{ href: 'https://github.com/cylence', title: 'github' } github
    %a.ss-icon.ss-social-circle{ href: 'https://twitter.com/therealslant', title: 'twitter' } twitter
    %a.ss-icon.ss-social-circle{ href: 'https://www.linkedin.com/in/ryanlcross/', title: 'linkedin' } linkedin
    %br/
    %a.ss-icon.ss-social-circle{ href: 'https://speakerdeck.com/slant', title: 'speaker deck' } speaker deck

%section.description
  %p
    Ryan is a <a href="https://www.heroku.com">Heroku</a> Technical Account Manager, helping to fight off the vile forces of customer dissatisfaction and ensuring the success of his customers.
  %p
    He is also the owner and proprietor of <a href="http://enclavecoop.com">The Enclave</a>, the first coworking space in Colorado Springs, CO.
