!!!
%html
  %head
    %title Ryan L. Cross
    %link{ href: 'stylesheets/base.css', rel: 'stylesheet', type: 'text/css' }
    %link{ href: '/webfonts/ss-social-circle.css', rel: 'stylesheet' }
    %script{ src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js', type: 'text/javascript' }
    %script{ src: "javascripts/base.js", type: 'text/javascript' }

  %body
    %div.content
      %a{ href: 'https://github.com/slant'}
        %img{ style: 'position: absolute; top: 0; right: 0; border: 0;', src: 'https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png', alt: 'Fork me on GitHub' }

      =yield

    %script{ src: 'javascripts/ga.js', type: 'text/javascript' }
